.start {
  width: 100%;
  align-items: center;
  appearance: button;
  background-color: #0276ff;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "RM Neue", sans-serif;
  font-size: 13px;
  line-height: 1.15;
  margin: 0;
  padding: 8px 24px;
  text-align: center;
  text-transform: none;
  transition: color 0.13s ease-in-out, background 0.13s ease-in-out, opacity 0.13s ease-in-out,
    box-shadow 0.13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.start:active {
  background-color: #006ae8;
}

.start:hover {
  background-color: #1c84ff;
}

body {
  min-width: 150px;
}
